@import '_font.scss';

@mixin font($family, $size, $weight){
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
}
@mixin clearfix{
  &:after,
  &:before{
    display: table;
    content: " ";
    clear: both;
  }
}

$mobile: 480px;
$tablet: 768px;
$desktop: 940px;
$wide_desktop: 1400px;

@mixin resp-to($media){
  @if $media == mob-scr {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $media == tab-scr {
    @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == desk-scr {
    @media only screen and (min-width: $desktop) { @content; }
  }
}

// Font Part mixin

$font-stack:
  (group: uaweb, id: light, font: ('Brandon Grot W01 Light', san-serif ), weight: 200, style: normal),
  (group: uaweb, id: light-italic, font: ('Brandon Grot W01 Light', san-serif ), weight: 200, style: italic),
  (group: uaweb, id: regular, font: ('Brandon Grot W01-Regular', san-serif), weight: 400, style: normal),
  (group: uaweb, id: regular-italic, font: ('Brandon Grot W01-Regular', san-serif), weight: 400, style: italic),
  (group: uaweb, id: bold, font: ('Brandon Grot W01 Black', san-serif), weight: 700, style: normal),
  (group: uaweb, id: bold-italic, font: ('Brandon Grot W01-Regular', san-serif), weight: 400, style: italic),
  (group: clarendon, id: regular, font: ('Clarendon LT W01', serif), weight: 200, style: normal),
  (group: code, id: regular, font: (monospace), weight: 400, style: normal);

// Breakpoint Mixin
@mixin font($group, $id:regular){
  @each $font in $font-stack{
    @if($group == map-get($font, group) and $id == map-get($font, id)){
      font-family: map-get($font, font);
      font-weight: map-get($font, weight);
      font-style: map-get($font, style);
    }
  }
}

@mixin button($height-but, $width-but, $color-but){
  height: $height-but;
  line-height: $height-but;
  width: $width-but;
  color: $color-but;
  &:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}
